management:
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include:
          - health
          - cosid
          - cosidGenerator
          - cosidStringGenerator
          - cocache
          - cocacheClient
          - threaddump
springdoc:
  show-actuator: true

spring:
  application:
    name: demo-service
  jackson:
    mapper:
      accept-case-insensitive-enums: true
    datatype:
      datetime:
        write-durations-as-timestamps: true
        write-dates-as-timestamps: true
logging:
  level:
    me.ahoo.wow: debug
cosid:
  machine:
    enabled: true
    distributor:
      type: manual
      manual:
        machine-id: 1
  generator:
    enabled: true
wow:
  kafka:
    enabled: false
  command:
    bus:
      type: in_memory
  event:
    bus:
      type: in_memory
  eventsourcing:
    store:
      storage: in_memory
    snapshot:
      storage: in_memory
    state:
      bus:
        type: in_memory
